body {
    font-family: 'Montserrat';
}
.ms_pro_form .ms_btn {
    height: 40px;
    width: 140px;
    line-height: 3px;
    margin-left: 15px;
}
.footer_box.footer_subscribe .ms_btn {
    height: 40px;
    line-height: 3px;
    width: auto;
    padding: 0px 22px;
    margin-left: 0px;
}
.textviewashtm{
     border: medium none;
     overflow: hidden;
     width: 100%; 
     resize: none; 
     line-height: 1.9; 
     height: 100%;
     font-size: 15px;
}
.precustom{
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word; 
    color: white,
}
.ms_player_close {
    position: absolute;
    top: -26px;
    right: 8px;
    background-color: #3bc8e7;
    width: 55px;
    height: 27px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    line-height: 34px;
    z-index: 1;
    cursor: pointer;
    border-radius: 25px 25px 0px 0px;
}
